.nav{
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: #128cff; */
  background-color: rgb(18, 140, 255,0.7);
  transition-property: all;
  transition-duration: 0.6s ;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  position: relative;
  left: -320px; 

}
.showmnpc{
  animation: openMenue 0.3s ease-in-out;
  animation-fill-mode: forwards;
  

}

h1{
  color:hsl(208, 100%, 97%);
  margin: 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 0.1rem;
}

/* .nav:hover{
  transform :translateX(150px) ;
  background-color : blue ;
} */
.nav-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 20px;
  margin-left: 0;
  
}
.nav-it{
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  cursor: pointer;
  margin-left: 0;
  padding-right: 20px;
  transition-property:all ;
  transition-duration: 0.6s ;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.nav-it:hover{
  background-color: rgb(18, 140, 255,0.7);
  color: hsl(208, 100%, 97%);
  font-weight: 600;
  border-radius: 10px;
  transform: translateX(10px);
  padding-left: 20px;

}


.img-icon32{
  width: 40px;
  height: 40px;
  align-self: center;
}



@keyframes openMenue {
  from{
    left: -320px;
  }to{
    left: 0;
  }
}
