
.container{
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100vh;
  margin: 0;
  padding :0 ;
 }
 
 .img1{
  width: 100vw;
  height: 120vh;
  margin: 0;
  padding :0 ;
 }
 .img2{
  width: 50vw;
  height: 120vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
 }

 .tex{
  width: 50vw;
 }


