<!-- <div class="imagemain1">
  <img class="bestImage1" src="assets/others/greate.jpg" alt="img">
</div>

<div class="news">
  <app-news></app-news>
</div>
<div class="containerHome">
  <div class="maintit">
    <h1 class="maintitleext">STA</h1>
    <h1 class="maintitle">Advanced Technology Company</h1>
    <h2 class="subTitle">For all your technological needs</h2>
    <div class="description">
      <p>
        Advanced Technology Company (STA) is a leading entity affiliated with the College of Advanced Technology in Information and Communication at the University of Kasdi Merbah, Ouargla, Algeria. We specialize in developing and delivering advanced technological solutions across various domains, contributing to innovation and growth in Algeria's technology sector.
      </p>
      <p>
        Our specialized fields include:
      </p>
      <ol>
        <li><strong>Computer Information Systems Programming</strong> (607069): Providing comprehensive services in software development and smart systems tailored to diverse client needs.</li>
        <li><strong>Information Technology Consulting Office (Consulting)</strong> (607001): Offering specialized consultations to enhance technological performance for companies and institutions, focusing on efficiency and effectiveness.</li>
        <li><strong>Archival Studies Office, Documentation, and Information</strong> (607031): Delivering advanced solutions for document management and digital archiving, improving information management and data preservation.</li>
        <li><strong>Consulting in Wired and Wireless Communications</strong> (607061): Providing specialized expertise in designing and implementing modern communication systems, with a focus on innovation and sustainable development.</li>
        <li><strong>Network Installation and Data Processing</strong> (607002): Specializing in designing and implementing computer networks and data processing, ensuring the highest levels of security and efficiency.</li>
        <li><strong>Design and Implementation of Electronic Vehicles for Industrial Maintenance</strong> (105510): Developing innovative electronic solutions for industrial system maintenance, emphasizing quality and precision.</li>
        <li><strong>Consultation, Assistance, Evaluation, and Training Program Development</strong> (607030): Providing comprehensive consulting services and tailored training programs to develop skills and achieve excellence in performance.</li>
        <li><strong>Digital Services Export</strong> (704101): Offering advanced digital services to global markets, enhancing the company's international presence.</li>
      </ol>
      <p>
        STA prides itself on delivering innovative and diverse technological solutions, committed to achieving the highest standards of quality and excellence in all projects. We continually enhance our capabilities and develop team skills to ensure the delivery of the best services and solutions to our clients.
      </p>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="team">
    <img class="img1" src="assets/others/team1.jpg" alt="">
    <h1>Welcome to Advanced Technology Company</h1>
    <p>We are here to help you with all your technological needs. We are committed to providing you with the best possible service.
    </p>
    <p>Our team is dedicated to providing innovative solutions and ensuring the highest standards of quality and excellence in all our services.</p>
    <p>2024</p>
  </div>
</div>

<div class="mainContainer">
  <div class="im">
    <img src="assets/others/mentanace.jpeg" alt="">
  </div>
  <div class="tex">
    <h1>Maintenance Team</h1>
    <h4>We repair and maintain all technological devices, as the team specializes in all technological components of the company</h4>
    <h5>We can maintain all advanced and modern devices and systems</h5>
    <h4></h4>
  </div>
</div>


