
<div class="body_about">
    <div class="banner">
        <img src="assets/others/about_us.jpg">
        <h1>About Us</h1>
    </div>
    <div class="about_us">
        <div class="about_us_content">
            <div class="about_us_text1">
                <h2>Who We Are</h2>
                <p>Our company is a leading manufacturer of high quality products. We are a team of
                    professionals who are committed to providing the best quality products to our customers.
                    We are a team of professionals who are committed to providing the best quality products to our customers.</p>
                <button class="Learn_more">Learn more</button>
            </div>
            <div class="img1">
                <div class="container">
                    <img src="https://via.placeholder.com/300" alt="Example Image" class="about_img">
                  </div>
            </div>
        </div>
        <div class="about_us_content2">
            <div class="about_us_text1">
                <h2>Who We Are</h2>
                <p>Our company is a leading manufacturer of high quality products. We are a team of
                    professionals who are committed to providing the best quality products to our customers.
                    We are a team of professionals who are committed to providing the best quality products to our customers.</p>
                <button class="Learn_more">Learn more</button>
            </div>
            <div class="img1">
                <div class="container">
                    <img src="https://via.placeholder.com/300" alt="Example Image" class="about_img2">
                </div>
            </div>
        </div>
    </div>
    
    <div class="Managers_opinions">
        <h2>Managers' opinions</h2>
        <div class="container_opinions1">
            <div class="opinions">
                <img src="https://via.placeholder.com/300" alt="Example Image" class="opinions_img1">
                <div class="opinions_text1">
                    <h3>John Doe</h3>
                    <p>""Our company is a leading manufacturer of high quality products. We are a team of
                        professionals who are committed to providing the best quality products to our customers.
                        We are a team of professionals who are committed to providing the best quality products to our customers.""
                    </p>
                </div>
            </div>
            <div class="opinions">
                <img src="https://via.placeholder.com/300" alt="Example Image" class=" opinions_img1">
                <div class="opinions_text1">
                    <h3>John Doe</h3>
                    <p>""Our company is a leading manufacturer of high quality products. We are a team
                        of professionals who are committed to providing the best quality products to our customers.
                        We are a team of professionals who are committed to providing the best quality products to our customers."
                    </p>
                </div>
            </div>
        </div>
        
        <div class="container_opinions1">
            <div class="opinions">
                <img src="https://via.placeholder.com/300" alt="Example Image" class="opinions_img1">
                <div class="opinions_text1">
                    <h3>John Doe</h3>
                    <p>""Our company is a leading manufacturer of high quality products. We are a team of
                        professionals who are committed to providing the best quality products to our customers.
                        We are a team of professionals who are committed to providing the best quality products to our customers.""
                    </p>
                    <button class="Learn_more">Learn more</button>
                </div>
            </div>
            <div class="opinions">
                <img src="https://via.placeholder.com/300" alt="Example Image" class=" opinions_img1">
                <div class="opinions_text1">
                    <h3>John Doe</h3>
                    <p>""Our company is a leading manufacturer of high quality products. We are a team
                        of professionals who are committed to providing the best quality products to our customers.
                        We are a team of professionals who are committed to providing the best quality products to our customers."
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bgimg-2">
        <div class="t3"></div>
        <img src="assets/others/mentanace.jpeg" alt="bg">
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora amet
        </span>
        <div class="t4"></div>
    </div>
</div>