
<div class="body_service">
  <div class="banner">
    <img src="assets/others/service2.jpg">
    <h1>Our Services</h1>
  </div>
  <div class="services">
    <div class="service">
        <img src="assets/others/img1.jpg">
        <h3>Our mission</h3>
        <p>Provide clear and concise financial<br> advices to make your financial wealth grow.
            And this, completely free of charge.</p>
    </div>
    <div class="service">
        <img src="assets/others/img2.jpg">
        <h3>Our values</h3>
        <p>We created our company to improve the work-life balance.
            We believe that we need to focus on our family more than our work and finances.</p>
    </div>
    <div class="service">
        <img src="assets/others/img3.jpg">
        <h3>Our team</h3>
        <p>Composed of 25 people from 25 to 66 years, we’re a young and dynamic company.
            We have open positions, do not hesitate to contact us.</p>
    </div>
  </div>
  <div class="give_services">
    <h2>Give us your services</h2>
    <p class="text">Do you have a service to offer? Do you want to be part of our team?</p>
    <div class="one_service">
      <div class="service_img"><img src="assets/others/img4.jpg"></div>
      <div class="service_text">
        <h3>Name Service</h3>
        <p>Write your text here</p>
      </div>
    </div>
    <div class="two_service">
      <div class="service_img"><img src="assets/others/img5.jpg"></div>
      <div class="service_text">
        <h3>Name Service</h3>
        <p>Write your text here</p>
      </div>
    </div>
    <div class="three_service">
      <div class="service_img"><img src="assets/others/img6.jpg"></div>
      <div class="service_text">
        <h3>Name Service</h3>
        <p>Write your text here</p>
      </div>
    </div>
  </div>
  <div class="Customer_opinions">
    <h2 class="title_of_Customer_opinions">Customer opinions</h2>
    <div id="carouselExampleRide" class="carousel slide container_slide_show" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="" class="d-block w-100" alt="1">
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100" alt="2">
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100" alt="3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="company_transaction">
    <h2>Company transactions</h2>
    <p>We deal with the following companies</p>
    <ul>
      <li>company1</li>
      <li>company2</li>
      <li>company3</li>
      <li>company4</li>
      <li>company5</li>
    </ul>
  </div>
</div>

